@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Leandro dos Santos Oliveira @ViewData["Developer"]</p>
<address>
    <strong>More informatiion: </strong> <a href="https://github.com/leehsantos13?tab=repositories">Leandro</a>
</address>
